/* BASE COLOR:
 #FB4D05
*/
/* SUN FLOWER: #FAE033 */
/* Supporting Colors: 
RED: #FB0808
GREEN: #05FB34
ORANGE: #FBB608
BLUE: #059DFB
*/

/* COLOR SCALES GREEN

.one{
    background-color: #D0FBD5;
}
.two{
    background-color: #ABF9B4;
}
.three{
    background-color:#94FF9F;
}
.four{
    background-color:#79FF87;
}
.five{
    background-color: #05FB34;
}
.six{
    background-color: #07D21E;
}
.seven{
    background-color: #02BF18;
}
.eight{
    background-color:#029A12;
}
.nine{
    background-color: #037F10;
}
 */

 /* COLOR SCALES ORANGE
    .one{
    background-color: #FDEDC7;
}
.two{
    background-color: #FBDB8F;
}
.three{
    background-color:#FBD16F;
}
.four{
    background-color:#FDCD5C;
}
.five{
    background-color: #FBB608;
}
.six{
    background-color: #E48B23;
}
.seven{
    background-color: #DE7904;
}
.eight{
    background-color:#C96E02;
}
.nine{
    background-color: #AF5F02;
}
 */
