/* Import a font from Google */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Satisfy&display=swap');
html{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow:hidden;
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    background-color: #ecf2fbf5 !important;

}
header{
    height: auto;
    position: sticky;
    top: 0;
    z-index: 5;
}
.headerSection{
    background-image: linear-gradient(90deg, #4E8BC4,#FFC2D9, turquoise);
    display: flex;
    padding-left: min(52px, 4%);
    padding-right: min(52px, 4%);
    padding-top: min(16px, 2%);
    padding-bottom: min(16px, 2%);
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 2px solid rgb(0, 30, 81);
}
#businessName{
    font-size: clamp(24px, 3vw, 75px);
    color: white;
    font-family: 'Satisfy';
}
#businessNameLink{
    text-decoration: none;
}
nav{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    width: 50vw;
    gap:8px;
}
.navButton{
    display: inline-block;
    font-size: clamp(1rem, 1.25vw, 2.5rem) !important;
    text-decoration: none;
    margin: 0;
    padding-left: min(16px, 4%);
    padding-right: min(16px, 4%);
    padding-top: min(4px, 1%);
    padding-bottom: min(4px, 1%);
    background-color: white !important;
    color: rgb(1, 99, 255) !important;
    border: none;
    border-radius: 150px;
    transition: 0.3s;
    font-size: clamp(12px, 1.5vw, 48px);
    font-family: 'Satisfy';
    text-align: center;
    font-weight: 600;
}
.currNavButton{
    color: white !important;
    background-color: rgb(1, 99, 255) !important;
    border: white solid 2px;
}
.navButton:hover{
    background-color: rgb(0, 55, 255) !important;
    color: white !important;
    transform: scale(1.1);
    transition: 0.3s;
    border: white solid 2px;
    box-shadow: 0px 0px 10px white;
}
.navButton:active{
    transform: scale(0.9);
    transition: 0.3s;
    box-shadow: 0px 0px 10px #0881A3;
    background-color: white !important;
}
/* Headings */
.heading1{
    font-size: clamp(16px, 4vw, 120px) !important;
    letter-spacing: -3%;
    font-family: 'Merriweather';
}
.heading2{
    letter-spacing: -2%;
    text-align: center;
    margin: 0;
    font-size: clamp(18px, 2.5vw, 90px) !important;
}
.heading3{
    letter-spacing: -2%;
    text-align: center;
    font-size: clamp(16px, 2vw, 75px) !important;
    font-weight: 600;
}

/* Footer Css */
footer {
    background-color: rgb(88, 202, 224);
    background-image: url('images/wave.png');
    border-top: black solid 2px;
    background-position: bottom center; 
    background-size: cover;
    background-repeat: no-repeat; 
    min-height: 30vw;
    margin-top: min(36px, 3.5%); 
    padding: min(18px, 2%); 
    text-align: center;
}
#footerWrapper{
    font-size: clamp(12px, 1.5vw, 48px) !important;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: #fbf8ed;
    gap: min(18px, 2.5%);
}
#footerLogo{
    width: 25vw;
    min-width: 145px;
}
.footerContainer{
    width: 30vw;
    display: block;
}
#iconContainer{
    display: flex;
    justify-content: space-evenly;
    gap: min(4px, 1.5%);
    margin-top: min(32px, 4%);
}
.icon{
    min-width: 25px;
    max-width: 125px;
    width: 3vw;
    transition: 0.3s;
}
.icon:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
#footerName{
    font-family: 'Satisfy';
    font-size: clamp(1.5rem, 3.5vw, 4.5rem);
}
#footerMotto{
    font-family: 'Satisfy';
    font-size: clamp(0.85rem, 1.75vw, 2.75rem);
}
#copyRight{
    text-align: center;
    margin-top:min(24px, 2%);
    align-content: center;
    color: white;
    font-size: clamp(0.85rem, 1.25vw, 2rem);
}
.designersLogo{
    width: 7vw;
    margin-top: min(16px, 2%);
    margin-bottom: min(16px, 2%);
    min-width: 65px;
}
.designersLogo:hover{
    transition: 0.6s;
    transform: scale(1.3);
    cursor: pointer;
}
/* Media query to ensure responsive design on extra small screens */
@media(width<=576px){
    .headerSection{
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }
    ul{
        width: 90%;
    }
}
@media(width<=376px){
    #footerWrapper{
        flex-direction: column;
        gap: 16px;
    }
    .footerContainer{
        width: 75vw;
    }
}